* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color:#394748;
  font-family: 'Catamaran', sans-serif;
}
button{
  -webkit-appearance: none;
  border: none;
  background: #fff;
  padding: 10px 0px;
  margin-top: 10px;
  color:#394748;
  width:100%;
  text-align:center;
  font-size:16px;
  font-weight: 600;
  transition:.2s all;
  &:focus{
    outline:none;
  }
  &:hover{
    background:#00D48A;
  }
}
input {
  margin-bottom:15px;
  padding:10px;
  border:none;
    &:focus{
      outline:none;
    }
}
