.add-game-container {
    margin-top: 5%;
}

.new-game-form {
  margin: 10% 0;
  input {
    background: rgba(10, 52, 88, 0.2);
    color: white;
    transition: .2s all;
    &:focus{
      padding:20px;
      font-size:18px;
    }
    &::-webkit-input-placeholder{
    color:rgba(252, 253, 255, 0.5);
    }
  }
}
