* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #00838F;
  font-family: 'Catamaran', sans-serif; }

button {
  -webkit-appearance: none;
  border: none;
  background: rgba(255, 255, 255, 0.23);
  padding: 10px 0px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 16px;
  transition: .2s all; }
  button:focus {
    outline: none; }
  button:hover {
    background: rgba(22, 52, 76, 0.15); }

input {
  margin-bottom: 15px;
  padding: 10px;
  border: none; }
  input:focus {
    outline: none; }

.join-game-container {
  margin-top: 20px; }

.game-select {
  margin-bottom: 3%; }
  .game-select div {
    color: white;
    padding: 10px 15px;
    border: 4px solid #205065; }
  .game-select h2 {
    margin: 0;
    font-size: 15px;
    padding: 10px 0 20px 0;
    border-bottom: 4px solid #205065; }

.login h1 {
  text-align: center;
  font-weight: 800;
  padding: 5% 0 3% 0;
  text-transform: uppercase;
  color: white; }

.login input {
  background: rgba(10, 52, 88, 0.2);
  color: white;
  transition: .2s all; }
  .login input:focus {
    padding: 20px;
    font-size: 18px; }
  .login input::-webkit-input-placeholder {
    color: rgba(252, 253, 255, 0.5); }

.addUser {
  background: #fff;
  padding: 20px;
  transition: .2s all; }
  .addUser input {
    background: rgba(0, 131, 143, 0.15);
    color: #00838F; }
    .addUser input::-webkit-input-placeholder {
      color: #90ACAF; }

.addUser button {
  background-color: #83CAD2; }
  .addUser button:hover {
    background: #4AA8B3; }

.addUserForm button:first-child {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 15px; }

.add-game-container {
  margin-top: 5%; }

.new-game-form {
  margin: 10% 0; }
  .new-game-form input {
    background: rgba(10, 52, 88, 0.2);
    color: white;
    transition: .2s all; }
    .new-game-form input:focus {
      padding: 20px;
      font-size: 18px; }
    .new-game-form input::-webkit-input-placeholder {
      color: rgba(252, 253, 255, 0.5); }
